<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello Governor, <%= @email.name %></h1>
    <p>
      You have successfully signed up to example.com,
      your username is: <%= @email.login %>.<br>
    </p>
    <p>
       <%= @law %>.
    </p>
    <p></p>
  </body>
</html>
