<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello Governor, <%= @email.name %></h1>
    <p>
      It has come to our attention that there are laws on the books in your state that should be reexamined. Thank you for your time. <%= @email.login %>.<br>
    </p>
    <p></p>
  </body>
</html>
