<div class="row">
	<div class="large-12 columns small-centered">
		<h1>Welcome to Dude, Really?</h1><br/>
		<p>The home of dumb laws from across the country.</p>
 	</div>
	 	<div id="theLaws">
	 	</div>	
		 	
	 	
</div>
